[Desktop Entry]
Type=Application
Exec=vym %F
Name=VYM - View Your Mind
Name[ar]=VYM - شاهد عقلك
Name[ca]=VYM - Visualitza la ment
Name[cs]=VYM - View Your Mind
Name[da]=VYM - View Your Mind
Name[de]=VYM - View Your Mind
Name[el]=VYM - View Your Mind
Name[es]=VYM - Vea su mente
Name[fi]=VYM - ohjelma miellekarttojen (MindMap) tekemiseksi
Name[fr]=VYM - View Your Mind
Name[hu]=VYM - Gondolatmegjelenítő
Name[id]=VYM - Lihat Pikiran Anda
Name[it]=VYM - View Your Mind
Name[ja]=VYM - あなたの心を写す
Name[km]=VYM - View Your Mind
Name[ko]=VYM - 당신의 마음을 봅니다
Name[lt]=VYM - Matykite savo mintis
Name[nb]=VYM - Vis tankene dine
Name[nl]=VYM - View Your Mind
Name[pa]=VYM - ਵਿਊ ਯੂਅਰ ਮਾਈਡ
Name[pl]=VYM - View Your Mind
Name[pt]=VYM - View Your Mind
Name[pt_BR]=VYM - View Your Mind (Veja Sua Mente)
Name[ro]=VYM - View Your Mind
Name[ru]=VYM — загляни в себя
Name[sk]=VYM - View Your Mind
Name[th]=VYM - ผังความคิด
Name[tr]=VYM - Belleğini Göster
Name[uk]=VYM - Перегляд вашого розуму
Name[wa]=VYM - View Your Mind
Name[zh_CN]=VYM - 绘制你的思维
Name[zh_TW]=心智檢視
GenericName=Planning and Brainstorming Tool
GenericName[ar]=أداة التخطيط وإدارة الأفكار
GenericName[ca]=Eina de planificació i pluja d'idees
GenericName[cs]=Plánovací nástroj
GenericName[da]=Planlægnings- og brainstormværktøj
GenericName[de]=Planungs- und Brainstorming-Tool
GenericName[el]=Σχεδιαστικό και Brainstorming Εργαλείο
GenericName[es]=Herramienta para la planificación y lluvia de ideas (brainstorming)
GenericName[fi]=Suunnittelu- ja aivoriihityökalu
GenericName[fr]=Outil de Planning et de Brainstorming
GenericName[gl]=Ferramenta para a planificación e brainstorming
GenericName[hu]=Tervező- és ötletgyűjtési eszköz
GenericName[id]=Perkakas perencanaan dan brainstorming
GenericName[it]=Strumento di pianificazione e brainstorming
GenericName[ja]=計画とブレーンストーミングツール
GenericName[km]=ឧបករណ៍​ធ្វើ​ផែនការ និង​បំផុស​គំនិត
GenericName[ko]=계획과 브레인스토밍 도구
GenericName[lt]=Planavimo ir „minčių lietaus“ įrankis
GenericName[nb]=Planleggings- og idéverktøy
GenericName[nl]=Programma voor plannen en brainstormen
GenericName[pl]=Planowanie i burze mózgów
GenericName[pt]=Ferramenta de Planeamento e Tempestades de Ideias
GenericName[pt_BR]=Ferramenta de planejamento e brainstorming
GenericName[ro]=Unealtă de planificare și lucru în comun
GenericName[ru]=Средство для планирования и проведения "мозгового штурма"
GenericName[sk]=Nástroj plánovania a nápadov
GenericName[th]=เครื่องมือด้านการวางแผนและระดมสมอง
GenericName[uk]=Засіб планування і занотовування ідей
GenericName[wa]=Usteye di planifiaedje eyet d' brainstorming
GenericName[zh_CN]=规划及头脑风暴工具
GenericName[zh_TW]=規劃與腦力激盪工具
Icon=vym
MimeType=application/x-vym;
Comment=Planning and brainstorming
Comment[af]=View Your Mind (Besigitig jou verstand)
Comment[ar]=التخطيط وإدارة الأفكار
Comment[ast]=View Your Mind (Ve la to miente)
Comment[bn]=View Your Mind (আপনার উদ্দেশ্য প্রদর্শন করুন)
Comment[bs]=View Your Mind (Pogledajte svoje misli)
Comment[ca]=View Your Mind (Visualitzeu la vostra ment)
Comment[ca@valencia]=View Your Mind (Visualitzeu la vostra ment)
Comment[cs]=Plánování a brainstorming
Comment[da]=View Your Mind (Vis dit sind)
Comment[de]=Planungs- und Brainstorming-Tool
Comment[el]=Σχεδιασμός και Brainstorming
Comment[es]=View Your Mind (Vea su mente)
Comment[et]=View Your Mind (Vaata oma mõtteid)
Comment[fi]=View Your Mind (Näytä mielesi)
Comment[fr]=View Your Mind (Cartographier vos idées)
Comment[gl]=View Your Mind (Vexa a súa mente)
Comment[hu]=Tervezés és ötletelés
Comment[id]=Perencanaan dan brainstorming
Comment[it]=Strumento di pianificazione e brainstorming
Comment[ja]=計画とブレーンストーミング
Comment[km]=កា​រក​សាង​ផែនការ និង​បំផុស​គំនិត
Comment[ko]=계획 및 브레인스토밍
Comment[ky]=View Your Mind (Акылыңды иштетип көр)
Comment[lt]=Planavimas ir „minčių lietus“
Comment[nb]=Planleggings- og idéverktøy
Comment[nl]=Plannen en brainstormen
Comment[oc]=View Your Mind (Cartografiar vòstras idèas)
Comment[pl]=View Your Mind (Uzewnętrznia myśli)
Comment[pt_BR]=Planejamento e brainstorming
Comment[ro]=View Your Mind (Hărți mentale)
Comment[ru]=View Your Mind (Просмотр ваших мыслей)
Comment[sk]=Plánovanie a nápady
Comment[sl]=View Your Mind (Oglejte si svoje misli)
Comment[sq]=View Your Mind (Shfaq Mendjen Tënde)
Comment[uk]=Засіб планування і занотовування ідей
Comment[vi]=View Your Mind (Xem tư duy của bạn)
Comment[wa]=Planifiaedje eyet brainstorming
Comment[zh_CN]=View Your Mind (浏览您的思维)
Comment[zh_TW]=VYM 腦力激盪工具

X-AppInstall-Package=vym
X-AppInstall-Popcon=430
X-AppInstall-Section=universe
X-Ubuntu-Gettext-Domain=app-install-data
Categories=Qt;KDE;Office;ProjectManagement;
Keywords=mindmap;taskmanager;brainstorming;


